main {
    height: calc(100vh - 60px);
    background-color: $sfondo_main;
    overflow-y: auto;

    .container {
        padding:5px;
        width: $container_width;
        height: 100%;
        margin: auto;
        @include my-flex(center, center);
        flex-wrap: wrap;
    }
}

.card {
    background-color: $sfondo_card;
    max-width: 250px;
    max-height: 395px;
    @include my-flex (center, flex-start);
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid $colore_testo;
    color: $colore_testo;

    img {
        width: 250px;
        height: 250px;
        padding: 20px;
    }

    .info {
        padding:0 10px 20px 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    h3 {
        color: white;
    }
 
}