* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MuseoModerno", cursive;
}

header {
  height: 100px;
  background-color: #191F38;
}

header .container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .img-wrapper img {
  max-width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  height: calc(100vh - 100px);
  background-color: #29335C;
  overflow-y: auto;
}

main .container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #3F4F8D;
  max-width: 250px;
  max-height: 380px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #B9C0DF;
  color: #B9C0DF;
}

.card img {
  width: 250px;
  height: 250px;
  padding: 20px;
}

.card .info {
  padding: 0 10px 20px 10px;
  text-align: center;
}

