@import 'partials/mixins.scss';
@import 'partials/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
header {
    @include my-flex(center,space-around);
    height: 100px;
    background-color: $sfondo_header;

    .img-wrapper {

        img {
            max-width: 150px;
            object-fit: contain;
        }
    }
}

main {
    height: calc(100vh - 100px);
    background-color: $sfondo_main;
    overflow-y: auto;

    .container {
        width: 80%;
        margin: auto;
        @include my-flex(center, center);
        flex-wrap: wrap;
    }
}

.card {
    background-color: $sfondo_card;
    max-width: 250px;
    max-height: 380px;
    @include my-flex (center, flex-start);
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid $colore_testo;
    color: $colore_testo;

    img {
        width: 250px;
        height: 250px;
        padding: 20px;
    }

    .info {
        padding:0 10px 20px 10px;
        text-align: center;
    }
 
}